.password-box{
	margin-top: 22rem;
	position: relative;
}
.pass-input{
	width: 80%;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid gray;
}
.pass-input:focus{
	outline: none;
}
::placeholder{
	font-size: 15px;
}
.toggle-btn{
	width: 15px;
	height: 15px;
	position: absolute;
	left: 208px;
	top: 12px;
}